h1 {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 2px 2px 2px rgb(235, 209, 182);
    font-family: "Bell MT", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: orange;
}

.sun {
    max-width: 50%;
    min-height: 50%;
    text-align: justify;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    border: 3px solid green;
    outline: gray dashed 10px ;
    margin: 50px;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: aqua;
}